template(name='actions')
  .row-fluid
    .col-sm-8
      
      .panel.panel-default
        .panel-heading
      
          h3 Actions
        .panel-body
          table
            each actions
              +action
