template(name='list')
  .col-sm-3
    .well
      h5
        a(href= '/actions') 
          | #{ name }
      table
        each collection
          +action

template(name='dashboard')
  .row-fluid
    .col-sm-3
      h5 Dashboard
      p 
        | Total available funds
        strong #{ available_ether } 
        | ether
      p 
        | Total needed funds
        strong #{ needed_ether } 
        | ether
      hr
      .btn
        | Buy Tokens
        
      hr
      | You are not 
      a logged in
    +list(name = 'Done' collection = done)
    +list(name = 'Now' collection = actions)
    +list(name = 'Soon' collection = actions)
    
      hr
      form.new-action
        .form-group
          input(type='text', name='name', placeholder='name')
        .form-group
          textarea.form-control(rows='3', name='description', placeholder='description')
        .form-group
          input(type='text', name='tags', placeholder='tags')
        .error
        input(type='submit', value='Create').btn.btn-success.btn-xxl
