template(name='dashboard')
  .row-fluid
    .col-md-6
      h5 Dashboard
      p 
        | Total available funds
        strong #{ available_ether } 
        | ether
      p 
        | Total needed funds
        strong #{ needed_ether } 
        | ether
            
    .col-md-6
      each actions
        +action
