template(name='dashboard')
  .row-fluid
    .col-md-3
      h5 Dashboard
      p 
        | Total available funds
        strong #{ available_ether } 
        | ether
      p 
        | Total needed funds
        strong #{ needed_ether } 
        | ether
      hr
      .btn
        | Buy Tokens
        
      hr
      | You are not 
      a logged in
    .col-md-3
      h3 Done
      table
        each actions
          +action_small
    
    .col-md-3
      h3 Now
      table
        each actions
          +action_small

    .col-md-3
      h3 Soon
      table
        each actions
          +action
      hr
      .btn.btn-success.btn-xxl
        | New Proposal
