template(name='dashboard')
  .row-fluid
    .col-sm-3
      h5 Dashboard
      p 
        | Total available funds
        strong #{ available_ether } 
        | ether
      p 
        | Total needed funds
        strong #{ needed_ether } 
        | ether
      hr
      .btn
        | Buy Tokens
        
      hr
      | You are not 
      a logged in
    .col-sm-3
      h3 
        a(href= '/actions') 
          | Done
      table
        each done
          +action_small
    
    .col-sm-3
      h3 Now
      table
        each actions
          +action_small

    .col-sm-3
      h3 Soon
      table
        each actions
          +action
      hr
      form.new-action
        .form-group
          input(type='text', name='name', placeholder='name')
        .form-group
          textarea.form-control(rows='3', name='description', placeholder='description')
        .form-group
          input(type='text', name='tags', placeholder='tags')
        .error
        input(type='submit', value='Create').btn.btn-success.btn-xxl
