template(name='home')
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='http://bitcoin01.herokuapp.com/')
            img(style='max-width:150px; margin-top: -9px;', src='./Entropy_static_files/entropy_logo_text_white-e0176ffd0aa399ff0ec1fe28073aafd7e809a5fe6c4135450014d6e19a244d1f.png', alt='Entropy logo text white e0176ffd0aa399ff0ec1fe28073aafd7e809a5fe6c4135450014d6e19a244d1f')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.main-navbar
          ul.nav.navbar-nav.navbar-right
            li
              a(href='http://bitcoin01.herokuapp.com/pages/boat')
                i.fa.fa-anchor
                | The Boat
          
            li
              a(href='http://bitcoin01.herokuapp.com/pages/citizen')
                i.fa.fa-flag-o
                | Citizenship
    header.homepage
      .header-content
        .header-content-inner
          h1.main-lead-text The Experimental Global Floating Blockchain Hackspace
          hr
          a.btn.btn-primary.btn-xl.page-scroll(href='http://bitcoin01.herokuapp.com/#about') Our Mission
    section#about.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Freedom
            hr.light
            p.lead
              | Entropy is the worlds first floating hackspace, blockchain controlled sailing vessel and global refuge for digital nomads.
            p.lead.text-faded
              | We have a passion for the emerging decentralised world and are embarking on an experimental global voyage, pushing the limits of
          .col-lg-8.col-lg-offset-2.text-center
            hr.light
            h2.section-heading For Everyone
            p.lead
              | Whenever possible, anyone is welcome to come aboard for plenty of hot drinks, regular maker nights, events and talks.
            p.lead
              | Anyone can join our community with not only a say in what we do and where we go, but you can join us as we travel there
    section#map
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Route
            hr.primary
            p.lead
              | Entropy steadily heads West on a schedule carefully planned to avoid storm seasons while harnessing the natural trade winds.
            p.lead The community at large decides the next port of call
            a(href='http://bitcoin01.herokuapp.com/pages/map')
              img.img-responsive.wow.fadeIn(src='./Entropy_static_files/worldmap_1-5d3a036aeb934658fcf2035f4065fd1acc0654064bda8224ad68a52847a3e6fc.png', alt='Worldmap 1 5d3a036aeb934658fcf2035f4065fd1acc0654064bda8224ad68a52847a3e6fc', style='visibility: visible; animation-name: fadeIn;')
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Decentralized freedom
            hr.primary
      .container
        .row
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-anchor.wow.bounceIn.text-primary(style='visibility: visible; animation-name: bounceIn;')
              h3 Hackspace, Event Venue & More
              p.text-muted.lead
                | Dramatically bringing the intangable right to the heart of major cities around the world, with an onboard bitcoin cafe, hackerspace and global fairtrade tea delivery.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-flag.wow.bounceIn.text-primary(data-wow-delay='.1s', style='visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;')
              h3 Citizenship
              p.text-muted.lead
                | Anyone can become a citizen, entitled to join us sailing, vote on the next destination and help out.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-arrows-alt.wow.bounceIn.text-primary(data-wow-delay='.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;')
              h3 Decentralized Infrastructure
              p.text-muted.lead
                | Pushing the boundaries of eco-friendly mobile technology, off grid power and decentralisation, we are building a community around blockchain based trustless descision making
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-chevron-circle-right.wow.bounceIn.text-primary(data-wow-delay='.3s', style='visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;')
              h3 Just the Beginning
              p.text-muted.lead
                | Entropy is part of an emerging fleet, heading under full sail into the unknown of the new word
    section#portfolio.no-padding
      .container-fluid
        .row.no-gutter
          .col-lg-4.col-sm-6
            a.portfolio-box(href='http://bitcoin01.herokuapp.com/#')
              img.img-responsive(src='./Entropy_static_files/sails_up-73fa8abfabdaf1a80ec0863b975861afcaa02c815112fa78368c58ebe01a59d0.jpg', alt='Sails up 73fa8abfabdaf1a80ec0863b975861afcaa02c815112fa78368c58ebe01a59d0')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Our Boat
                  .project-name
                    | Quiet, Relaxed, EcoFriendly, our boat is large enough to host events and comfortable enough to travel on aroud the world.
          .col-lg-4.col-sm-6
            a.portfolio-box(href='http://bitcoin01.herokuapp.com/#')
              img.img-responsive(src='./Entropy_static_files/spinnaker-5ae9771cdf27f9dac3d002a86eb5441beeb6cd695be1256dac63df920b09fd90.jpg', alt='Spinnaker 5ae9771cdf27f9dac3d002a86eb5441beeb6cd695be1256dac63df920b09fd90')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Hackspace
                  .project-name
                    | Full onboard workshop, 3d Printing, IoT components, everything you need to learn and experiment with bitcoin together with plenty of fresh coffee
          .col-lg-4.col-sm-6
            a.portfolio-box(href='http://bitcoin01.herokuapp.com/#')
              img.img-responsive(src='./Entropy_static_files/sails-3-154c046b9ebdb3339df7bd2569a2e6ffd941ef9de8467104966ae84cc20ae4b5.jpg', alt='Sails 3 154c046b9ebdb3339df7bd2569a2e6ffd941ef9de8467104966ae84cc20ae4b5')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Decentralised
                  .project-name
                    | Funding, planning and running Entropy is pushing the boundaries of what an organisation can be, building Open Source projects to help others follow the same path
    section#team
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Who we are
            hr.primary
            p
              | We're an enthusiastic and friendly group of technologists, creatives, environmentalists and dreamers
        .row
          .col-lg-3.text-center.wow.fadeIn(style='visibility: visible;')
            img.img-responsive.profile_pic(src='./Entropy_static_files/helena_1-a5d319e1621d57c5b58b91cb5605e8a0ad31351ff6ec7cb01e8a3ba4fdba3e5b.jpg', alt='Helena 1 a5d319e1621d57c5b58b91cb5605e8a0ad31351ff6ec7cb01e8a3ba4fdba3e5b')
            p Helena Teichrib
            p.text-muted Creative Dreamer & Designer
            p
              a(href='mailto:helena.rib@project-entropy.com')
                i.fa.fa-envelope-o
              a(href='https://www.linkedin.com/in/helena-teichrib-83246065/en')
                i.fa.fa-linkedin
              a(href='https://twitter.com/HelenaTeichrib')
                i.fa.fa-twitter
          .col-lg-3.text-center.wow.fadeIn(style='visibility: visible;')
            img.img-responsive.profile_pic(src='./Entropy_static_files/anne_2-db246eba4e2d47fff912daad916a9a7cbf1ce957474d9c8f5e761995d519f2d6.png', alt='Anne 2 db246eba4e2d47fff912daad916a9a7cbf1ce957474d9c8f5e761995d519f2d6')
            p Anne Schön
            p.text-muted Social Designer & Startup Mentor
            p
              a(href='mailto:schoen.anne@online.de')
                i.fa.fa-envelope-o
          .col-lg-3.text-center.wow.fadeIn(style='visibility: visible;')
            img.img-responsive.profile_pic(src='./Entropy_static_files/joran_rain-9fb3a84d192bf0f547f5981602be881e3eb07d381286fcbbb2542d81b251a899.png', alt='Joran rain 9fb3a84d192bf0f547f5981602be881e3eb07d381286fcbbb2542d81b251a899')
            p Joran Kikke
            p.text-muted Skipper, Maker & Technologist
            p
              a(href='mailto:joran.k@project-entropy.com')
                i.fa.fa-envelope-o
              a(href='https://nz.linkedin.com/in/j%E1%BB%8F%CD%95%CC%89r%CD%95%CC%89%CC%BB%CD%95%CC%89%CC%89a%CC%BB%CD%95%CC%89%CC%89n-kikke-0b08065')
                i.fa.fa-linkedin
              a(href='https://twitter.com/donkeyscience')
                i.fa.fa-twitter
          .col-lg-3.text-center
          .col-lg-3.text-center
    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Get in touch
            hr.primary
            p
              | We're keen to hear from you about any questions, or if anyone wants to get involved!
        .row
          .col-lg-3.text-center
            i.fa.fa-phone.fa-3x.wow.bounceIn(style='visibility: visible;')
            p +64 0204 404 004
          .col-lg-3.text-center
            i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s', style='visibility: visible; animation-delay: 0.1s;')
            p
              a(href='mailto:freedom@project-entropy.com') freedom@project-entropy.com
          .col-lg-3.text-center
            i.fa.fa-github.fa-3x.wow.bounceIn(data-wow-delay='.1s', style='visibility: visible; animation-delay: 0.1s;')
            p
              a(href='https://github.com/ProjectEntropy/') github.com/ProjectEntropy
          .col-lg-3.text-center
            i.fa.fa-twitter.fa-3x.wow.bounceIn(data-wow-delay='.1s', style='visibility: visible; animation-delay: 0.1s;')
            p
              a(href='https://twitter.com/EntropyBoat/') @EntropyBoat
