template(name='home')
  
  head
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title Entropy
    meta(content='Entropy', name='description')
    link(rel='stylesheet', media='all', href='//bitboatassets.s3.amazonaws.com/bitboat/assets/application-aa2995f80bbb1320cda6ce4864b5df7787f816304a271de60bc71c8db7c7836f.css', data-turbolinks-track='true')
    link(rel='stylesheet', media='screen', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(src='//bitboatassets.s3.amazonaws.com/bitboat/assets/application-af4e9d0591dc61d0f79f84db29cbf148c70b2e4d8eba185e0cba465cc8e34413.js', data-turbolinks-track='true')
    meta(name='csrf-param', content='authenticity_token')
    meta(name='csrf-token', content='jgqMEVWk6HMCoWtZCgffR0kK0yz3IODp7XtfDQZqA2pxJZyc6agwIg1/s3q2xsDA6XWb53JMd/xlVxjA7rPc1Q==')
  
  body#page-top
  
    header.homepage
      .header-content
        .header-content-inner
          h1.main-lead-text The World’s First Blockchain Research Vessel
          hr
          a.btn.btn-primary.btn-xl.page-scroll(href='#about') Our Mission
    section#about.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Our Mission
            hr.light
            p.lead.text-faded
              |  We have a shared passion for the emerging decentralised movement and are embarking on a global voyage to explore how new technology can be used to create a more equal and sustainable society for all. 
          
    section#map
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Route
            hr.primary
            p.lead
              | Entropy steadily heads West on a schedule directed and voted for by the community, avoiding storm seasons while harnessing the natural trade winds.
            p.lead The community at large decides the next port of call
            a(href='/pages/map')
              img.img-responsive.wow.fadeIn(src='//bitboatassets.s3.amazonaws.com/bitboat/assets/worldmap_1-5d3a036aeb934658fcf2035f4065fd1acc0654064bda8224ad68a52847a3e6fc.png', alt='Worldmap 1 5d3a036aeb934658fcf2035f4065fd1acc0654064bda8224ad68a52847a3e6fc')
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Our Goals
            hr.primary
          .col-lg-8.col-lg-offset-2.text-center
            p.lead
              | The following objectives define the initial purpose of the project, but as the community grows these may be extended, added to, removed or changed by its Citizens.
            p.lead
              | Anyone can join our community with not only a say in what we do and where we go, but you can join us as we travel around.
      .container
        .row
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-tree.wow.bounceIn.text-primary(style='visibility: visible; animation-name: bounceIn;')
              h3 Sustainability
              p.text-muted.lead
                | Dramatically bringing the intangable right to the heart of major cities around the world, with an onboard bitcoin cafe, hackerspace and global fairtrade tea delivery.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-cloud.wow.bounceIn.text-primary(data-wow-delay='.1s', style='visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;')
              h3 Dreaming
              p.text-muted.lead
                | Explore possibilities created by emergent technology
              p.text-muted.lead
                | Inspire people to make the changes they can bring to the world - dream big
              p.text-muted.lead
                | Allow people to experience what’s possible: every citizen has the opportunity to come aboard
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-arrows-alt.wow.bounceIn.text-primary(data-wow-delay='.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;')
              h3 New Ways
              p.text-muted.lead
                | Experiment with different organisation structures
              p.text-muted.lead
                | Model DAO - see what’s possible, recyclable for other projects
              p.text-muted.lead
                | 100% Transparency - Decisions, Finances, Collaboration - We believe in transparent organisation
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-chevron-circle-right.wow.bounceIn.text-primary(data-wow-delay='.3s')
              h3 Just the Beginning
              p.text-muted.lead
                | Entropy is part of an emerging fleet, heading under full sail into the unknown of the new word
    section#portfolio.no-padding
      .container-fluid
        .row.no-gutter
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='//bitboatassets.s3.amazonaws.com/bitboat/assets/sails_up-73fa8abfabdaf1a80ec0863b975861afcaa02c815112fa78368c58ebe01a59d0.jpg', alt='Sails up 73fa8abfabdaf1a80ec0863b975861afcaa02c815112fa78368c58ebe01a59d0')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Our Boat
                  .project-name
                    | Quiet, Relaxed, EcoFriendly, our boat is large enough to host events and comfortable enough to travel on aroud the world.
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='//bitboatassets.s3.amazonaws.com/bitboat/assets/spinnaker-5ae9771cdf27f9dac3d002a86eb5441beeb6cd695be1256dac63df920b09fd90.jpg', alt='Spinnaker 5ae9771cdf27f9dac3d002a86eb5441beeb6cd695be1256dac63df920b09fd90')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Hackspace
                  .project-name
                    | Full onboard workshop, 3d Printing, IoT components, everything you need to learn and experiment with bitcoin together with plenty of fresh coffee
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='//bitboatassets.s3.amazonaws.com/bitboat/assets/sails-3-154c046b9ebdb3339df7bd2569a2e6ffd941ef9de8467104966ae84cc20ae4b5.jpg', alt='Sails 3 154c046b9ebdb3339df7bd2569a2e6ffd941ef9de8467104966ae84cc20ae4b5')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Decentralised
                  .project-name
                    | Funding, planning and running Entropy is pushing the boundaries of what an organisation can be, building Open Source projects to help others follow the same path
    section#team
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Who we are
            hr.primary
            p
              | We're an enthusiastic and friendly group of technologists, creatives, environmentalists and dreamers
        .row
          .col-lg-3.text-center.wow.fadeIn
            img.img-responsive.profile_pic(src='//bitboatassets.s3.amazonaws.com/bitboat/assets/helena_1-a5d319e1621d57c5b58b91cb5605e8a0ad31351ff6ec7cb01e8a3ba4fdba3e5b.jpg', alt='Helena 1 a5d319e1621d57c5b58b91cb5605e8a0ad31351ff6ec7cb01e8a3ba4fdba3e5b')
            p Helena Teichrib
            p.text-muted Creative Dreamer & Designer
            p
              a(href='mailto:helena.rib@project-entropy.com')
                i.fa.fa-envelope-o
              a(href='https://www.linkedin.com/in/helena-teichrib-83246065/en')
                i.fa.fa-linkedin
              a(href='https://twitter.com/HelenaTeichrib')
                i.fa.fa-twitter
          .col-lg-3.text-center.wow.fadeIn
            img.img-responsive.profile_pic(src='//bitboatassets.s3.amazonaws.com/bitboat/assets/anne_2-db246eba4e2d47fff912daad916a9a7cbf1ce957474d9c8f5e761995d519f2d6.png', alt='Anne 2 db246eba4e2d47fff912daad916a9a7cbf1ce957474d9c8f5e761995d519f2d6')
            p Anne Schön
            p.text-muted Social Designer & Startup Mentor
            p
              a(href='mailto:schoen.anne@online.de')
                i.fa.fa-envelope-o
          .col-lg-3.text-center.wow.fadeIn
            img.img-responsive.profile_pic(src='//bitboatassets.s3.amazonaws.com/bitboat/assets/joran_rain-9fb3a84d192bf0f547f5981602be881e3eb07d381286fcbbb2542d81b251a899.png', alt='Joran rain 9fb3a84d192bf0f547f5981602be881e3eb07d381286fcbbb2542d81b251a899')
            p Joran Kikke
            p.text-muted Skipper, Maker & Technologist
            p
              a(href='mailto:joran.k@project-entropy.com')
                i.fa.fa-envelope-o
              a(href='https://nz.linkedin.com/in/jỏ͕̉r͕̻͕̉̉̉ả̻͕̉n-kikke-0b08065')
                i.fa.fa-linkedin
              a(href='https://twitter.com/donkeyscience')
                i.fa.fa-twitter
          .col-lg-3.text-center
          .col-lg-3.text-center
    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Get in touch
            hr.primary
            p
              | We're keen to hear from you about any questions, or if anyone wants to get involved!
        .row
          .col-lg-3.text-center
            i.fa.fa-phone.fa-3x.wow.bounceIn
            p +64 0204 404 004
          .col-lg-3.text-center
            i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
            p
              a(href='mailto:freedom@project-entropy.com') freedom@project-entropy.com
          .col-lg-3.text-center
            i.fa.fa-github.fa-3x.wow.bounceIn(data-wow-delay='.1s')
            p
              a(href='https://github.com/ProjectEntropy/') github.com/ProjectEntropy
          .col-lg-3.text-center
            i.fa.fa-twitter.fa-3x.wow.bounceIn(data-wow-delay='.1s')
            p
              a(href='https://twitter.com/EntropyBoat/') @EntropyBoat
