template(name='layout_header')
  nav.navbar.navbar-default.navbar-top
    .container-fluid
      .navbar-header
        a.pull-left.entropy_logo(href='/')
          img(src='/images/entropy_logo_text_grey.png', height='50')
      ul.nav.navbar-nav.navbar-right
        li
          a(href="{{ pathFor 'dashboard' }}")
            | Dashboard
        li
          a(href="{{ pathFor 'view1' }}")
            | {{{i18n 'dapp.app.buttons.view1'}}}
        li
          a(href="{{ pathFor 'view2' }}")
            | {{{i18n 'dapp.app.buttons.view2'}}}
