template(name='layout_static')
  // extra css for static pages
  link(rel='stylesheet', media='all', href='//bitboatassets.s3.amazonaws.com/bitboat/assets/application-aa2995f80bbb1320cda6ce4864b5df7787f816304a271de60bc71c8db7c7836f.css', data-turbolinks-track='true')
  link(rel='stylesheet', media='screen', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    
  
  // The dynamic page header
  
  | {{> yield region="header"}}
  // content
  main.container-fluid.static-container
    | {{> yield}}
  // The dynamic page footer
  | {{> yield region="footer"}}
