.entropy_logo
{
  margin-top: 9px;
}

.navbar-top{}

.panel-body
{
  overflow: hidden;
  text-overflow: ellipsis;
}

body{
  
}

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
}
